<h1> All Board Game Companies </h1>
<% @companies.each do |company| %>
  <h3> <a href="/companies/<%= company.id %>"><%= company.name %></a></h3>
<% end %>
<!-- #Header Company.name
#<ul> company.updated -->
