<a href="/companies">Boarg Game Company Index</a>

<h1><%= @company.name %></h1>

<p>Active:<%= @company.active %></p>
<p>Number Of Games:<%= @company.games_listed %></p>

<a href="/companies/<%= @company.id %>/edit">Edit</a>

<p><a href = "/boardgames"> List of all boardgames</a></p>
