<h4>
  <%= link_to "All Warrooms", "/warrooms" %>
</h4>

<h4>
  <%= link_to "Create Country", "/countries/new" %>
</h4>

<h1>Countries</h1>

<% @countries.each do |country| %>
 <h3>

   <%= link_to "#{country.country_name}", "/countries/#{country.id}" %> - Last Updated: <%= country.updated_at %>

 </h3>
<% end %>
