
<h4>
  <%= link_to "Countries Index", "/countries" %>
</h4>

<h1> <%= @current_country.country_name %> </h1>

<h3>
  <%= link_to "All Country Warrooms", "/countries/#{@current_country.id}/warrooms" %>
</h3>

<% @warrooms.each do |warroom| %>

  <h4>
    <%= link_to "#{warroom.warroom_name}", "/countries/#{warroom.country_id}/warrooms/#{warroom.id}" %>
  </h4>

<% end %>
